* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  background-color: #a5e1ab;
  font-family: "Abel";
  text-decoration: none;
}

section {
  /* viewport height  VH*/
  /* viewport width  VW*/
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #57ae60;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar-wrapper_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.navbar-wrapper_left a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.navbar-wrapper_left a:hover {
  text-decoration: underline;
}

.navbar-wrapper_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.navbar-wrapper_right a img {
  width: 30px;
  height: 30px;
  transition: all 0.5s ease-in-out;
  margin-top: 5px;
}

/* Hero section */
.section-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 10% 10%;
}

.container_left {
  width: 50%;
  display: flex;
  justify-content: center;
}

.container_left img {
  max-width: 250px;
  max-height: 350px;
  border-radius: 136px;
  border: 4px solid green;
  justify-content: center;
}

.container_left img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.container_right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}

.container_right h1 {
  font-family: "Gochi hand", cursive, sans-serif;
  font-size: 5rem;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}
.container_right h2 {
  text-align: center;
  margin-bottom: 20px;
}

.container_left p {
  font-size: 16px;
  color: #000;
  text-align: left;
  line-height: 1.5;
  margin-right: 50px;
}
/* Skils container */
#section_3 {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cv-container_left {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #a5e1ab;
  align-items: center;
}
.cv-item img {
  max-width: 200px;
  max-height: 300px;
  justify-content: center;
}
.cv-container_left,
.grid-container {
  flex-direction: row;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.grid-item {
  background-color: #57ae60;
  padding: 20px;
  font-size: 28px;
  text-align: center;
}
.grid-item ul {
  font-size: 16px;
}
.no-bullet {
  list-style-type: none;
}
.skill-box_right,
.skill-box_right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  align-items: start;
  margin: 10% 10%;
}

.skill-title {
  font-family: "Gochi hand";
  font-size: 18px;
}

#section_3 {
  background-color: #57ae60;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #57ae60;
}
.footer-wrapper_right img {
  width: 150px;
  height: 40px;
  align-items: center;
  /* margin-top: 5px; */
}
.footer-middle {
  font-family: "Gochi Hand";
  font-size: 28px;
}
